body {
    margin: 0 auto;
}

.container {
    font-family: sans-serif;
    text-align: center;
} 

.navbar {
    display: inline-block;
}

.menu {
    margin-bottom: 25.5px;
    margin-top: 25.5px;
}

.menu-item {
    display: inline;
    font-size: 18px;
}

.menu-link {
    text-decoration: none;
    letter-spacing: 2.7px;
    color: #FF0000;
    margin-left: 36px;
    margin-right: 36px;
}

.main-pic {
    display: inline-block;
    text-align: center;
    border-image: none;
    width: 100%;
    height: 100%;
}

.title {
    margin-top: 48px;
    margin-bottom: 38px;
    font-size: 22px;
    letter-spacing: 3.3px;
    color: #373737;
}

.paragraph {
    display: inline-block;
    max-width: 1145px;
    margin-top: 0px;
    margin-bottom: 28px;
    padding-left: 67.5px;
    padding-right: 67.5px;
    letter-spacing: 2.4px;
    font-size: 16px;
    color: #373737;
}

.button {
    margin-top: 38px;
    margin-bottom: 42px;
    background-color: #FF0000;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    padding-left: 42.5px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-right: 43.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    letter-spacing: 1.8px;
}

.footer {
    margin-bottom: 29px;
    margin-top: 40px;
    font-family: sans-serif;
    text-align: right;
    letter-spacing: 2.4px;
    color: #373737;
}